@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import url(./root.css);
@import url(./components/backgrounds/background.css);
@import url(./components/buttons/btn.css);
@import url(./components/containers/containers.css);
@import url(./components/forms/forms.css);
@import url(./components/sidebar/sidebar.css);
@import url(./components/texts/texts.css);
@import url(./pages/base.css);
/* @import url(./pages/base-test.css);
 */
/* @import url(./components/texts/icons.css); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
