<div class="marcadores">
  <button class="marcador active-duda"><span class="material-symbols-rounded">help</span></button>
  <button class="marcador active-fav"><span class="material-symbols-rounded">favorite</span></button>
  <button class="marcador"><span class="material-symbols-rounded">push_pin</span></button>
</div>
<div class="marcadores" style="margin-top:0.5rem">
  <button class="marcador"><span class="material-symbols-rounded">help</span></button>
  <button class="marcador"><span class="material-symbols-rounded">favorite</span></button>
  <button class="marcador active-dest"><span class="material-symbols-rounded">push_pin</span></button>
</div>