<nav class="main-menu">
  <ul>
    <li>
      <a href="">
        <span class="material-symbols-rounded icon"> home </span>
        <span class="nav-text"> Dashboard </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#">
        <span class="material-symbols-rounded icon"> book_2 </span>
        <span class="nav-text"> Esquemas </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#">
        <span class="material-symbols-rounded icon"> school </span>
        <span class="nav-text"> Oposiciones </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#">
        <span class="material-symbols-rounded icon"> finance </span>
        <span class="nav-text"> Estadísticas </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="material-symbols-rounded icon"> account_circle </span>
        <span class="nav-text"> Mi Perfil </span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a href="#">
        <span class="material-symbols-rounded icon"> logout </span>
        <span class="nav-text"> Logout </span>
      </a>
    </li>
  </ul>
</nav>
